 body {
     align-items: center;
 }
 .searchDiv {
  
    background-color: lightgray;
    border-radius: 10px;
    padding-top: 10px;

}
 
#input {

    /* width: 17vw; */
}

#dailyDiv {

    border-radius: 10px;
    border: lightgrey;
    border-style: solid;
    margin-top: 10px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    
}

.fiveDayForecast {

    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nextcard {

    margin-left: 10px;
    margin-top: 10px;
}

.firstcard {

    margin-top: 10px;
}

.card {

    background-color: cornflowerblue;
    color: cornsilk;
}

#dailyUVIndex2 {

    margin-left: 5px;
    margin-right: 0px;
    color: cornsilk;
    background-color: crimson;
    text-align: center;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.cityButton {

    text-align: left;
}

#clearButton {
    border-color: black;
}

#cityButtonDiv {
    text-align: center;
}

@media only screen and (max-width: 991px) {

    #input {
        width: 15vw;
    }
}

@media only screen and (max-width: 768px) {

    #input {
        width: 30vw;
        margin-right: -27vw;
    }
}

@media only screen and (max-width: 414px) {

    body {
        margin-left: 2vw;
    }

    #input {
        width: 70vw;
        margin-right: 0vw;
    }
}


