#searchDiv {
    width: 20%;
    height: 600px;
    background-color: lightgray;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;

}

#dailyDiv {

    border-radius: 10px;
    border: lightgrey;
    border-style: solid;
    margin-left: 20.5%;
    width: 79%;
    height: 300px;
    vertical-align: top;
    padding-left: 10px;
    
}

#card1 {
    border-radius: 10px;
    margin-left: 5px;
    


}

.form-inline {

    margin-left: 5px;
}

.nextcard {

   float: left;
   margin-left: 10px;
   border-radius: 10px;
}

#card3 {
    
  
}

#cardDiv {

    height: 300px;
    border-style: solid;
    border-color: lawngreen;
    margin-left: 20.5%;
    width: 79%;
}

