 .searchDiv {
  
    background-color: lightgray;
    border-radius: 10px;
    padding-top: 10px;

}
 
#input {

    max-width: 100%;
}

#dailyDiv {

    border-radius: 10px;
    border: lightgrey;
    border-style: solid;
    margin-top: 10px;
    /* margin-left: 20.5%;
    width: 79%;
    height: 300px;
    vertical-align: top;*/
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    
}

.fiveDayForecast {

    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nextcard {

    margin-left: 10px;
    margin-top: 10px;
}

.firstcard {

    margin-top: 10px;
}

.card {

    background-color: cornflowerblue;
    color: cornsilk;
}

#dailyUVIndex2 {

    margin-left: 5px;
    margin-right: 0px;
    color: cornsilk;
    background-color: crimson;
    text-align: center;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.cityButton {

    text-align: left;
}
/*
#card1 {
    border-radius: 10px;
    margin-left: 5px;
    


}

.form-inline {

    margin-left: 5px;
}

.nextcard {

   float: left;
   margin-left: 10px;
   border-radius: 10px;
}

#card3 {
    
  
}

#cardDiv {

    height: 300px;
    border-style: solid;
    border-color: lawngreen;
    margin-left: 20.5%;
    width: 79%;
}
 */
